@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --button-bg-color: #4f46e5;
  --button-text-color: #ffffff;
}

[data-theme='dark'] {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 0, 0, 0;
  --background-end-rgb: 0, 0, 0;
  --button-bg-color: #6366f1;
  --button-text-color: #e5e7eb;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

button {
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .container {
    @apply px-4 mx-auto sm:px-6 lg:px-8;
    max-width: 100%;
  }
  
  @screen sm {
    .container {
      max-width: 640px;
    }
  }
  
  @screen md {
    .container {
      max-width: 768px;
    }
  }
  
  @screen lg {
    .container {
      max-width: 1024px;
    }
  }
  
  @screen xl {
    .container {
      max-width: 1280px;
    }
  }

  .table-container {
    @apply w-full overflow-x-auto scrollbar-thin scrollbar-thumb-gray;
  }

  .responsive-table {
    @apply min-w-full divide-y divide-gray-200;
  }

  .responsive-table th {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider;
  }

  .responsive-table td {
    @apply px-6 py-4 whitespace-nowrap text-sm;
  }

  .responsive-table th,
  .responsive-table td {
    @apply min-w-table-cell;
  }
}
